.custoMenu {
	position: fixed;
	-webkit-box-shadow: 0px 0px 3px 0px #292929;
	-moz-box-shadow: 0px 0px 3px 0px #292929;
	-o-box-shadow: 0px 0px 3px 0px #292929;
	box-shadow: 0px 0px 3px 0px #292929;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#292929, Direction=NaN, Strength=3);
}
.custoMenu li {
	padding: 4px;
	cursor: pointer;
}
.custoMenu li:hover {
	background-color: #ddd;
}
